@font-face {
	font-family: scoreBoard;
	src: url('/scoreboard.ttf');
}

body {
	background-color: #222222;
	height: 100%;
	width: 100%;
	font-family: Arial;
}

#container {
	background-color: #000000;
	width: 90%;
	border: 5px solid #ffffff;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 4px;
	color: #ffffff;
}

/* First Row */
.first-row {
	margin-top: 20px;

	 .box {
		margin: 0;
		display: inline-block;
		padding: 10px;
		width: 30%;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		text-align: center;

		h4 {
			margin: 0;
			font-size: 2em;
		}

		.score {
			font-size: 1.5em;
		}
	}
}

#timer {
	color: #ffffff;
	padding: 2px 10px;
	text-align: center;
	width: 40%;
	display: inline-block;
	margin-bottom: 25px;
	vertical-align: top;
	margin-top: 25px;

	.inner-box {
		border: 4px solid #ffffff;
		border-radius: 4px;
		padding: 20px;
		min-width: 300px;

		span {
			color: #fedd51;
			font-size: 6em;
			-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

		}
	}

	.number {
		float: none;
		display: inline-block;
		border: 2px solid #838383;
		font-size: 6.5em;
		padding: 0 20px;
	}
}

/* General */
.label {
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
}

.number {
	color: #fedd51;
	font-size: 5em;
	margin: 4px;
	padding: 0 6px;
	font-family: scoreBoard;
}

.timeouts {
	display: inline-block;
	margin-top: 10px;

	.number {
		font-size: 2em;
	}
}

.clear {
	clear: both;
}
.second-row {
	margin-top: 40px;

	.box {
		display: inline-block;
		width: 33%;
		text-align: center;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

		.number {
			text-align: center;
			margin: 0 auto;
			float: none;
			border: 0;
		}

		.label {
			clear: both;
			margin-top: 5px;
			margin-bottom: 20px;
		}
	}
}

.box {
	span {
		padding: 0 10px;
		border: 2px solid #838383;
	}
}

#home-score h4 {
	color: #cc0000;
}

#away-score h4 {
	color: blue;
}


@media (max-width: 1100px) {
	body {
		min-width: 768px;
		font-size: .5em;
		padding: 0;
		margin: 0;

		#container {
			width: 100%;
			margin: 0;
			border: 0;
		}

		#timer {
			padding: 2px;

			.inner-box {
				padding: 0;
			}
		}

		.first-row {
			margin-top: 0;
		}
	}
}