@font-face {
  font-family: scoreBoard;
  src: url("/scoreboard.ttf"); }
body {
  background-color: #222222;
  height: 100%;
  width: 100%;
  font-family: Arial; }

#container {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 4px;
  color: #ffffff; }

/* First Row */
.first-row {
  margin-top: 20px;
  border: 5px solid #ffffff;
  background-color: #000000; }
  .first-row .box {
    margin: 0;
    display: inline-block;
    padding: 10px;
    width: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
    .first-row .box h4 {
      margin: 0;
      font-size: 2em; }
    .first-row .box .number {
      min-width: 235px; }
    .first-row .box .score {
      font-size: 2.7em; }
    .first-row .box > div {
      position: relative; }
      .first-row .box > div > div, .first-row .box > div .number, .first-row .box > div .controls {
        display: inline-block;
        vertical-align: middle; }
      .first-row .box > div .score-output {
        margin-bottom: 15px; }
      .first-row .box > div .controls {
        position: relative;
        left: 5px; }
        .first-row .box > div .controls div {
          display: block;
          cursor: pointer; }

.second-row {
  border: 2px solid #ffffff;
  background-color: #222222;
  margin-top: 20px;
  text-align: center;
  position: fixed;
  bottom: 0; }
  .second-row .score-controls {
    display: inline-block;
    margin: 5px 40px; }
    .second-row .score-controls button {
      height: 40px;
      padding: 10px; }
      .second-row .score-controls button.reset {
        margin-left: 20px; }
  .second-row h4 {
    font-size: 2em;
    margin: 10px 0 5px 0; }
    .second-row h4.home {
      color: #cc0000; }
    .second-row h4.away {
      color: #0055ff; }

/* General */
.label {
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase; }

.number {
  color: #fedd51;
  font-size: 5em;
  margin: 4px;
  padding: 0 6px;
  font-family: scoreBoard; }

.timeouts {
  display: inline-block;
  margin-top: 10px; }
  .timeouts .number {
    font-size: 2em; }

.clear {
  clear: both; }

.box span {
  padding: 0 10px;
  border: 2px solid #fedd51;
  background-color: #222222; }

#home-score h4 {
  color: #cc0000; }

#away-score h4 {
  color: #0055ff; }

@media (max-width: 1100px) {
  body {
    padding: 0;
    margin: 0; }
    body #container {
      width: 100%;
      border: 0; }
    body #timer {
      padding: 2px; }
      body #timer .inner-box {
        padding: 0; }
    body .first-row {
      margin-top: 0; } }
@media (max-width: 750px) {
  .first-row .box .number {
    min-width: 235px; }

  .second-row .score-controls {
    margin: 5px 10px; }
    .second-row .score-controls h4 {
      font-size: 1em; } }
@media (max-width: 550px) {
  .controls div {
    border-width: 35px; }

  .first-row .box .number {
    min-width: 155px; }

  .first-row .box .score {
    font-size: 1.5em; }

  .second-row .score-controls {
    margin: 5px 5px; }
    .second-row .score-controls button {
      height: 30px;
      padding: 2px; } }
.up-arrow {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #369c17;
  margin-bottom: 10px; }

.down-arrow {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #9c2e1e; }
