@font-face {
  font-family: scoreBoard;
  src: url("/scoreboard.ttf"); }

body {
  background-color: #222222;
  height: 100%;
  width: 100%;
  font-family: Arial; }

#container {
  background-color: #000000;
  width: 90%;
  border: 5px solid #ffffff;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  color: #ffffff; }

/* First Row */
.first-row {
  margin-top: 20px; }
  .first-row .box {
    margin: 0;
    display: inline-block;
    padding: 10px;
    width: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
    .first-row .box h4 {
      margin: 0;
      font-size: 2em; }
    .first-row .box .score {
      font-size: 2.5em; }
    .first-row .box > div {
      position: relative; }
      .first-row .box > div > div, .first-row .box > div .number, .first-row .box > div .controls {
        display: inline-block;
        vertical-align: middle; }
      .first-row .box > div .controls {
        position: relative;
        left: 5px; }
        .first-row .box > div .controls div {
          display: block;
          cursor: pointer; }

.second-row {
  border: 1px solid #000000;
  margin-top: 40px; }
  .second-row .box {
    display: inline-block;
    width: 33%;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .second-row .box .number {
      text-align: center;
      margin: 0 auto;
      float: none;
      border: 0; }
    .second-row .box .label {
      clear: both;
      margin-top: 5px;
      margin-bottom: 20px; }

/* General */
.label {
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase; }

.number {
  color: #fedd51;
  font-size: 5em;
  margin: 4px;
  padding: 0 6px;
  font-family: scoreBoard; }

.timeouts {
  display: inline-block;
  margin-top: 10px; }
  .timeouts .number {
    font-size: 2em; }

.clear {
  clear: both; }

.box span {
  padding: 0 10px;
  border: 2px solid #838383; }

#home-score h4 {
  color: #cc0000; }

#away-score h4 {
  color: blue; }

@media (max-width: 1100px) {
  body {
    min-width: 768px;
    font-size: .5em;
    padding: 0;
    margin: 0; }
    body #container {
      width: 100%;
      margin: 0;
      border: 0; }
    body #timer {
      padding: 2px; }
      body #timer .inner-box {
        padding: 0; }
    body .first-row {
      margin-top: 0; } }
.up-arrow {
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 55px solid #369c17;
  margin-bottom: 10px; }

.down-arrow {
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-top: 55px solid #9c2e1e; }
