@font-face {
	font-family: scoreBoard;
	src: url('/scoreboard.ttf');
}

body {
	background-color: #222222;
	height: 100%;
	width: 100%;
	font-family: Arial;
}

#container {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 4px;
	color: #ffffff;
}

/* First Row */
.first-row {
	margin-top: 20px;
    border: 5px solid #ffffff;
    background-color: #000000;

	 .box {
		margin: 0;
		display: inline-block;
		padding: 10px;
		width: 50%;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		text-align: center;

		h4 {
			margin: 0;
			font-size: 2em;
		}

		.score {
			font-size: 2.5em;
		}

		> div {
			position: relative;

			> div, .number, .controls {
				display: inline-block;
				vertical-align: middle;
			}

            .score-output {
              margin-bottom: 15px;
            }

			.controls {
				position: relative;
				left: 5px;

				div {
					display: block;
					cursor: pointer;
				}
			}
		}
	}
}

.second-row {
	border: 2px solid #ffffff;
    background-color: #222222;
	margin-top: 20px;
    text-align: center;

    .score-controls {
        display: inline-block;
        margin: 5px 40px;

        button {
          height: 40px;
          padding: 10px;

          &.reset {
            margin-left: 20px;
          }
        }
    }

    h4 {
        font-size: 2em;
        margin: 10px 0 5px 0;

        &.home {
          color: #cc0000;
        }
        &.away {
          color: #0055ff;
        }
    }
}

/* General */
.label {
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
}

.number {
	color: #fedd51;
	font-size: 5em;
	margin: 4px;
	padding: 0 6px;
	font-family: scoreBoard;
}

.timeouts {
	display: inline-block;
	margin-top: 10px;

	.number {
		font-size: 2em;
	}
}

.clear {
	clear: both;
}

.box {
	span {
		padding: 0 10px;
		border: 2px solid #fedd51;
        background-color: #222222;
	}
}

#home-score h4 {
	color: #cc0000;
}

#away-score h4 {
	color: #0055ff;
}


@media (max-width: 1100px) {
	body {
		font-size: .5em;
		padding: 0;
		margin: 0;

		#container {
			width: 100%;
			margin: 0;
			border: 0;
		}

		#timer {
			padding: 2px;

			.inner-box {
				padding: 0;
			}
		}

		.first-row {
			margin-top: 0;
		}
	}
}

@media (max-width: 550px) {
  .controls {
    div {
      border-width: 35px;
    }
  }
}

.up-arrow {
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #369c17;
	margin-bottom: 10px;
}
.down-arrow {
	width: 0; 
	height: 0; 
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #9c2e1e;
}
